@media (min-width: 780px) {
    .carousel {
        width: 50%;
    }
}

.btn{
    border-radius:12px 0 12px 0;
    width: 150px;
    border:none;
    font:bold 12px Verdana;
    padding:6px 0 6px 0;
}

#btn_classic{
    border-radius: 5%!important;
    width: 150px;
    background-color: #cc002a;
}

.btn_a {
    text-decoration: none!important;
}

.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    transform: translateY(-50%);
    width: 320px;
    text-align: center;
}

.shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: red;
}

.text {
    color: #333;
    font-family: 'Roboto Condensed';
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
}

@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}

